<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>INGRESSO</title>
</head>

<body>
<div class="fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center"><a class="btn btn-primary" role="button" href="{{ login_url }}">{% trans %}Accedi{% endtrans %}</a></div>
        </div>
    </div>
</div>
</body>

</html>